#navbar-color, .dropdown-menu{
    background-color: #af1616;
}
#nav-texto{
    color: aliceblue;
}
#img-bg {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  #card-p {
    position: absolute;
    top: 50%;  /* Posiciona verticalmente no meio */
    left: 50%; /* Posiciona horizontalmente no meio */
    transform: translate(-50%, -50%); /* Centraliza a posição */
  }
  .card-group{
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
} 
.card{
    margin-left: 30px;
    margin-right: 30px;
    background-color:aliceblue;
}
